<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New Order Confirmation</title>
  <link href="https://fonts.googleapis.com/css2?family=Catamaran&family=DM+Sans:opsz,wght@9..40,400;9..40,500&family=Inter:wght@100..900&family=Jost&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Marcellus&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:wght@500&family=Playfair+Display:wght@500;600&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <style>
    table {
        border-collapse: collapse;
        font-family: "Nunito", sans-serif;
    }

    th, td {
        padding: 12px 20px;
        text-align: left;
        border-bottom: 1px solid #ddd;
    }

    th {
        background-color: #f2f2f2;
    }

    tr:hover {
        background-color: #f5f5f5;
    }

    .total > td {
        color: red;
        font-weight: 600;
    }

    .container {
        font-family: "Nunito", sans-serif;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Order Confirmation</h1>
    <p>Thank you for your order! Here are the details:</p>
    <table>
      <thead>
        <tr>
          <th>Item</th>
          <th>Quantity</th>
          <th>Price</th>
          <th>Total</th>
        </tr>
      </thead>
      <tbody>
        {{#each items}}
        <tr>
          <td>{{product_name}}</td>
          <td>{{product_quantity}}</td>
          <td>${{product_price}}</td>
          <td>${{subtotal.toLocaleString()}}</td>
        </tr>
        {{/each}}
        <tr class="total">
          <td colspan="3">Total:</td>
          <td>${{total.toLocaleString()}}</td>
        </tr>
      </tbody>
    </table>
    <p>Your order number is: <strong>{{orderNumber}}</strong></p>
    <p>If you have any questions, please don't hesitate to contact us at <a href="mailto:thnguyet03@gmail.com">support@example.com</a>.</p>
    <p>Sincerely thank you!</p>
  </div>
</body>
</html>